@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
      * {
        padding: 0;
        margin: 0;
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;
        outline: none;
        transition: all 0.3s;
        color: #556;
      }
        body {
          background-color: #fff;
          position: relative;
        }
      .top_nav {
        padding: 20px;
        background-color: #434557;
        width: 100%;
       color: #eee;
       position: relative;
      }
      .header {
        font-weight: bold;
        margin-left: 50px;
        font-size: 15px;
        color: #eef;
      }
      
      .main > .input {
        width: 100%;
         padding:20px 10px;
         background: #eee;
         display: flex;
         align-items: center;
         justify-content: center;
      }
     .main > .input > input {
       width: 85%;
       padding:0px 20px;
       height: 42px;
       border-radius: 5px 0 0 5px;
       border: 1px solid rgba(0,0,0,0.1);
       font-size: 15px;
     }
     .main > .input > input:hover {
       border: 2px solid rgba(0, 0, 0, 0.2);
     }
     
     .main > .input > button {
       height: 40px;
       border: 0;
       width: 20%;
       background-color: #434557;
       color: #fefefe;
       border-radius: 0 5px 5px 0;
       font-size: 12px;
     }
     .main > .input > button:hover {
       border: 2px solid rgba(200, 200, 200, 0.2);
     }
     .top_nav > .menu_btn {
       height: 3px;
       width: 30px;
       background:  #eee;
       box-shadow: 0 -7px 0 #eee, 0 7px #eee;
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       right: 15px;
       border-radius: 2px;
     }
     .logo {
       width: 50px;
      /*mix-blend-mode: multiply;*/
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
     }
     .menu_list {
       width: 80vw;
       height: 100vh;
       background-color: #ccc;
       position: fixed;
       top:0;
       left: -80vw;
     }
     .active {
       left: 0;
       box-shadow: 0 0 0 100vw rgba(0,0,0,0.5);
     }
     .icon_container {
      display:  flex;
      align-items: center;
      justify-content: space-around;
      width: 40%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      flex-direction: column;
      border-left: 1px solid red;
      height: 80%;
     }
     .icon_container > img {
       float: left;
       width: 150px;
       height: auto;
     }
     p#date_time {
       color: red;
       font-size: 13px;
     }
    .data  {
       padding:40px 30px;
       background-color: white;
       position: relative;
     }
     .city {
       color: #556;
       font-size: 30px;
       position: relative;
     }
      .ar {
        width: calc(100%/2);
        padding: 10px;
      }
      small {
        color: red;
        position: absolute;
        top: 25px;
         left: 50%;
      }
      footer {
        padding: 20px 0;
        text-align: center;
        color: #eee;
        background-color: #434557;
        width: 100%;
        font-size: 13px;
      }
